<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Coach</h1>

<f:flashMessages />

<table  class="tx_clubmanagement" >
	<tr>
		<th><f:translate key="tx_clubmanagement_domain_model_coach.first_name" /></th>
		<th><f:translate key="tx_clubmanagement_domain_model_coach.last_name" /></th>
		<th><f:translate key="tx_clubmanagement_domain_model_coach.email" /></th>
		<th><f:translate key="tx_clubmanagement_domain_model_coach.phone" /></th>
		<th><f:translate key="tx_clubmanagement_domain_model_coach.mobile" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{coaches}" as="coach">
		<tr>
			<td><f:link.action action="show" arguments="{coach : coach}"> {coach.firstName}</f:link.action></td>
			<td><f:link.action action="show" arguments="{coach : coach}"> {coach.lastName}</f:link.action></td>
			<td><f:link.action action="show" arguments="{coach : coach}"> {coach.email}</f:link.action></td>
			<td><f:link.action action="show" arguments="{coach : coach}"> {coach.phone}</f:link.action></td>
			<td><f:link.action action="show" arguments="{coach : coach}"> {coach.mobile}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{coach : coach}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{coach : coach}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Coach</f:link.action>
</f:section>