<table class="tx-clubmanagement" >
	<tr>
		<td>
			<f:translate key="tx_clubmanagement_domain_model_coach.first_name" />
		</td>
		<td>
			{coach.firstName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_clubmanagement_domain_model_coach.last_name" />
		</td>
		<td>
			{coach.lastName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_clubmanagement_domain_model_coach.email" />
		</td>
		<td>
			{coach.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_clubmanagement_domain_model_coach.phone" />
		</td>
		<td>
			{coach.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_clubmanagement_domain_model_coach.mobile" />
		</td>
		<td>
			{coach.mobile}
		</td>
	</tr>
</table>